*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1f2937;
    color: #f9faf8;
    gap: 20px;
    width: 100%;
    height: 200px;
}
.logo{
    align-self: center;
    font-size: 24px;
    color: #f9faf8;
}

.header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
li{
    list-style: none;
}
.content{
    flex:1 1 auto;
}
.hero{
    background-color: #1f2937;
    color: #f9faf8;
    font-size:48px;
    font-weight: extra-bold;
    display: flex;
    height: 500px;
    align-items: center;
    justify-content:space-evenly;
    gap: 20px;
    padding: 20px;
}
.left-hero{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.left-hero .secondary-text{
    color: #f9faf8;
    font-size: 18px;
}
.hero-img{
    width: 500px;
    height: auto;
}
.article{
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    padding: 20px;
    margin-top: 20PX;
}
.img-strip{
    background-color: white;
    color: black;
    height: 500px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
figure {
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 5px;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.img-strip img{
    width: 300px;
    height: auto;
    border-radius: 5%;
    border: thin #3882f6 solid;
}
.quote{
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box{
    background-color: #3882f6;
    height: 500px;
}
footer{
    background-color: #1f2937;
    color: #f9faf8;
    width: 100%;
    text-align: center;
}